<div class="row centered">
    <div class="col-xs-3">
        <img class="img-responsive" src="/resources/images/cloudy.png" alt="fonecta">
    </div>
    <div class="col-xs-3">
        <div class="row weather-info">
            <p>Sää tänään</p>
        </div>
        <div class="row weather-info">
            <p>Helsinki<span> Kello</span></p>
        </div>
        <div class="row weather-info">
           <h1><span class="glyphicon glyphicon-plus">27</h1>
        </div>
    </div>
    <div class="col-xs-3 pull-right last">
        <h1>Foreca</h1>
        <p>Katso tarkemmat säätiedot</p>
    </div>
</div>
