.centered {
  margin: auto;
  max-width: 505px;
  min-width: 300px;
  background-color: #FF6600;
}
/*max. leveys 505 px, min. 300 px*/

.col-xs-3 {
  width: 35%;
  margin: 0;
  padding: 0 0 0 0;
  color:white;
  text-transform: uppercase;
  .weather-info{
    margin:0;
  }
  h3{
    margin: 5px 0;
  }
}
.last {
  width: 30%;
  margin: 0;
  padding: 0 0 0 0;
  background-color: #FF9147;
  height: 100%
}
